.words-switcher
  position: relative
  overflow: hidden
  height: 1.3em

  &__character
    display: inline-block
    animation: switch-words var(--animation-duration, 8s) infinite
    animation-delay: calc(var(--character-index) * 0.1s)
