@import '@/styles/mixins'

.header
  @include color-transition
  background-color: var(--white, #FCFFFD)
  display: flex
  flex-direction: column
  inset: 0 0 auto 0
  overflow: hidden
  position: fixed

  &__heading
    align-items: center
    display: flex
    height: var(--header-rest-height, 146px)
    justify-content: space-between
    padding: var(--spacing-m, 40px)

  &__content
    display: flex
    flex-direction: column
    height: 100%

    &__wrapper
      display: flex
      flex-direction: column
      height: 100%

      &.hidden
        opacity: 0

    &__footer
      align-items: center
      display: flex
      justify-content: space-between
      padding: var(--spacing-m, 40px)

      &__mailto
        color: var(--white, #FCFFFD)

  &.expanded
    color: var(--white, #FCFFFD)
    background-color: var(--black, #171716)

    & .header__heading
      &__logo path
        fill: var(--white, #FCFFFD)

      &__burger-button span
        background-color: var(--white, #FCFFFD)
