.header
  height: var(--header-rest-height, 146px)
  overflow: hidden

  &__heading
    align-items: center
    display: flex
    height: var(--header-rest-height, 146px)
    justify-content: space-between
    padding: var(--spacing-m, 40px)
